@use '@/app/styles/variables.scss' as *;

.month-dropdown {
    margin-right: 1rem;
    border: none;
    outline: none;
    background: none;
    color: $primary-text;
    font-size: 18px;
    letter-spacing: 0.6px;
    border-bottom: 1px solid #888;
    text-align: center;
    margin-top: 1px;
    padding-bottom: 4px;
    padding-top: 4px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-weight: 800;

    &:focus-visible { 
      border-bottom-color: $cta-accent;
      border-bottom-width: 2px;
      padding-bottom: 3px;
    }
  }

.reset-button {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    font-weight: 800;

    @media (max-width: 460px) {
      box-shadow: none;
      background: none !important;
      border: none;
      padding: 0;
      color: #888;

      svg {
        width: 15px;
        height: 15px;
      }

      width: 15px;
      height: 15px;

      &:disabled {
        color: #ccc;
      }
      
      span {
        display: none;
      }
    }
}
