$card-background: #f0ece3;
$primary-background: #fcfbf7;
$placeholder-backkground: #eae8e1;
$card-border: #e1dfd7;
$primary-text: #343434;
$secondary-text: #333;
$tertiary-text: #808080;
$quaternary-text: #475569;
$cta-accent: #6e8f47;